

@{
    ViewBag.Title = "Checkout Complet";
}
<h2>Checkout Complet</h2>
<p>Îți mulțumim pentru comandă ! Numărul comenzii tale este : @Model</p>
<p>
    Continuă cumpărăturile => 
    @Html.ActionLink("Magazin",
"Index", "Home")
</p>