@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Membrii echipei:</p>
<ul>
    <li>
        Cresțu Daria Ștefana
    </li>
    <li>
        Luca Ștefan Ioan
    </li>
</ul>