@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron fundal">
    <h1 class="welcome">Bine ați venit!</h1>
    <h2 class="welcome">
        <a href="/Products/Index/">
            Să începem cumpărăturile.
        </a>
    </h2>
</div>

<div class="row" style="background-color: #FFE38F">
    <div class="col-md-4">
        <h2>Aparate casnice</h2>
        <img src="~/Content/UploadedImages/decupat.png" alt="Mixer" width="200" height="200">
    </div>
    <div class="col-md-4">
        <h2>Articole pentru copii</h2>
        <img src="~/Content/UploadedImages/papusi1.png" alt="Papusi" width="200" height="200">
    </div>
    <div class="col-md-4">
        <h2>Mobilă</h2>
        <img src="~/Content/UploadedImages/masa1.png" alt="Masa" width="200" height="200">
    </div>
</div>